

@mixin hook-utility-misc() {
  .uk-pointer {
    cursor: pointer;
  }

  .uk-before-after-1 {
    .uk-after {
      margin-left: -40%;
    }
  }

  .uk-slider-1-dotnav {
    margin-top: -30px;
  }



}