<div class="uk-position-fixed uk-position-center-right uk-text-center" style="z-index: 980;">
  <div  data-uk-scrollspy="cls: uk-animation-slide-right; delay: 400">
    {% if site.data.options.sticky_cta.button_secondary.url != '' %}
      <div class="uk-margin-small-bottom">
        <a class="uk-button uk-button-default" href="{{ site.data.options.sticky_cta.button_secondary.url }}"{% if site.data.options.sticky_cta.button_secondary.blank %} target="_blank" rel="noopener noreferrer" {% endif %}>{{ site.data.options.sticky_cta.button_secondary.text }}</a>
      </div>
    {% endif %}
    {% if site.data.options.sticky_cta.button_primary.url != '' %}
      <div>
        <a class="uk-button uk-button-primary" href="{{ site.data.options.sticky_cta.button_primary.url }}"{% if site.data.options.sticky_cta.button_primary.blank %} target="_blank" rel="noopener noreferrer" {% endif %}>{{ site.data.options.sticky_cta.button_primary.text }}</a>
      </div>
    {% endif %}
    {% if site.data.options.sticky_cta.phone != '' %}
      <div class="uk-margin-top">
        <a class="" href="tel: {{ site.data.options.sticky_cta.phone }}">{{ site.data.options.sticky_cta.phone }}</a>
      </div>
    {% endif %}
  </div>
</div>