<footer id="footer">
  <div class="uk-section-large uk-section-{{site.footer.background | default: 'default'}}">
    <div class="uk-container">
      <div class="uk-text-center">
        <a class="uk-logo" href="{{ "/" | relative_url }}">
          {% if site.data.options.logo_light != '' or site.data.options.logo_dark != '' %}
            {% if site.data.options.logo_light != '' %}
              <img class="uk-logo-inverse" src="{{ site.data.options.logo_light | absolute_url }}" alt="{{ site.title }}">
            {% endif %}
            {% if site.data.options.logo_dark != '' %}
              <img src="{{ site.data.options.logo_dark | absolute_url }}" alt="{{ site.title }}">
            {% endif %}
          {% else %}
            {{ site.title }}
          {% endif %}
        </a>
      </div>
      {% if site.data.footer.phone != '' %}
        <div class="uk-margin-top uk-text-center">
          <a class="" href="tel: {{ site.data.footer.phone }}">{{ site.data.footer.phone }}</a>
        </div>
      {% endif %}
      {% if site.data.footer.copyright != '' %}
        <div class="uk-margin-top uk-text-center">
          {{ site.data.footer.copyright }}
        </div>
      {% endif %}
      
      <div class="uk-margin-top uk-child-width-1-2@m" data-uk-grid>
        <div>
          {% if site.data.footer.menus.size != 0 %}
            {% for menu in site.data.footer.menus %}
              <ul class="uk-nav">
                {% for item in menu.menu %}
                  <li><a class="uk-flex-center uk-flex-right@m" href="{% if item.url contains 'http' %}{{ item.url }}{% else %}{{ item.url | relative_url }}{% endif %}">{{ item.text }}</a></li>
                {% endfor %}
              </ul>
            {% endfor %}
          {% endif %}
        </div>
        <div class="uk-text-center uk-text-left@m">
          {% if site.data.footer.address != '' %}
            <address>{{ site.data.footer.address | markdownify }}</address>
          {% endif %}
          {% if site.data.footer.hours.size != 0 %}
            <ul class="uk-list">
              {% for item in site.data.footer.hours %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div> 
  </div>
  <div class="uk-section-xsmall{% if site.data.footer.subfooter.color == 'light' %} uk-light{% endif %}" style="background-color: {{ site.data.footer.subfooter.background | default: '#000' }};">
    <div class="uk-container">
      <div class="uk-text-center uk-text-left@m uk-text-small" data-uk-grid>
        <div class="uk-width-expand@m">
          {{ site.data.footer.copyright }}
          {% if site.data.footer.privacy_link.url != '' %}
            | <a href="{% if site.data.footer.privacy_link.url contains 'http' %}{{ site.data.footer.privacy_link.url }}{% else %}{{ site.data.footer.privacy_link.url | relative_url }}{% endif %}">{{ site.data.footer.privacy_link.text }}</a>
          {% endif %}
        </div>
        <div class="uk-width-1-3@m">Site by Dental Game Plan <img class="uk-margin-small-left" width="24" src="{{ '/assets/img/dental-game-plan.svg' | absolute_url }}" alt="dental game plan"></div>
      </div>
    </div>
  </div>
</footer>
