{% if site.data.options.social.twitter != empty %}
<div>
    <a href="{{ site.data.options.social.twitter }}" data-uk-icon="icon: twitter" class="uk-icon-link uk-icon" target="_blank" rel="noopener noreferrer"></a>
</div>
{% endif %}
{% if site.data.options.social.facebook != empty %}
<div>
    <a href="{{ site.data.options.social.facebook }}" data-uk-icon="icon: facebook" class="uk-icon-link uk-icon" target="_blank" rel="noopener noreferrer"></a>
</div>
{% endif %}
{% if site.data.options.social.flickr != empty %}
<div>
    <a href="{{ site.data.options.social.flickr }}" data-uk-icon="icon: flickr" class="uk-icon-link uk-icon" target="_blank" rel="noopener noreferrer"></a>
</div>
{% endif %}
{% if site.data.options.social.yelp != empty %}
<div>
    <a href="{{ site.data.options.social.yelp }}" data-uk-icon="icon: yelp" class="uk-icon-link uk-icon" target="_blank" rel="noopener noreferrer"></a>
</div>
{% endif %}
{% if site.data.options.social.instagram != empty %}
<div>
    <a href="{{ site.data.options.social.instagram }}" data-uk-icon="icon: instagram" class="uk-icon-link uk-icon" target="_blank" rel="noopener noreferrer"></a>
</div>
{% endif %}
{% if site.data.options.social.googleplus != empty %}
<div>
    <a href="{{ site.data.options.social.googleplus }}" data-uk-icon="icon: google-plus" class="uk-icon-link uk-icon" target="_blank" rel="noopener noreferrer"></a>
</div>
{% endif %}
{% if site.data.options.social.linkedin != empty %}
<div>
    <a href="{{ site.data.options.social.linkedin }}" data-uk-icon="icon: linkedin" class="uk-icon-link uk-icon" target="_blank" rel="noopener noreferrer"></a>
</div>
{% endif %}
{% if site.data.options.social.pinterest != empty %}
<div>
    <a href="{{ site.data.options.social.pinterest }}" data-uk-icon="icon: pinterest" class="uk-icon-link uk-icon" target="_blank" rel="noopener noreferrer"></a>
</div>
{% endif %}
{% if site.data.options.social.vimeo != empty %}
<div>
    <a href="{{ site.data.options.social.vimeo }}" data-uk-icon="icon: vimeo" class="uk-icon-link uk-icon" target="_blank" rel="noopener noreferrer"></a>
</div>
{% endif %}
{% if site.data.options.social.youtube != empty %}
<div>
    <a href="{{ site.data.options.social.youtube }}" data-uk-icon="icon: youtube" class="uk-icon-link uk-icon" target="_blank" rel="noopener noreferrer"></a>
</div>
{% endif %}
{% if site.data.options.social.github != empty %}
<div>
    <a href="{{ site.data.options.social.github }}" data-uk-icon="icon: github" class="uk-icon-link uk-icon" target="_blank" rel="noopener noreferrer"></a>
</div>
{% endif %}
{% if site.data.options.social.email != empty %}
<div>
    <a href="{{ site.data.options.social.email }}" data-uk-icon="icon: mail" class="uk-icon-link uk-icon" target="_blank" rel="noopener noreferrer"></a>
</div>
{% endif %}
{% if site.data.options.social.website != empty %}
<div>
    <a href="{{ site.data.options.social.website }}" data-uk-icon="icon: link" class="uk-icon-link uk-icon" target="_blank" rel="noopener noreferrer"></a>
</div>
{% endif %}