<section>
  <div data-uk-slideshow="animation: push">
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
      <ul class="uk-slideshow-items">
        {% for slide in block.slides %}
          <li>
            <img src="{{ slide | absolute_url }}" alt="Slide" data-uk-cover>
          </li>
        {% endfor %}
      </ul>

      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-previous
        data-uk-slideshow-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-next
        data-uk-slideshow-item="next"></a>

    </div>

    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-slider-1-dotnav uk-position-relative uk-position-z-index"></ul>
  </div>
</section>