<section class="uk-section">
  <div class="uk-container">
    {% if block.heading != empty or block.text != empty %}
      <div class="uk-margin-medium-bottom uk-container-small{% if block.align == 'center' %} uk-margin-auto{% endif %} uk-text-{{ block.align | default: 'left' }}">
        {% if block.heading != empty %}
          <h2 class="uk-margin-remove">{{ block.heading }}</h2>
        {% endif %}
        {% if block.text != empty %}
          <div class="uk-text-lead{% if block.heading %} uk-margin-top{% endif %}">{{ block.text | markdownify  }}</div>
        {% endif %}
      </div>
    {% endif %}

    {% if block.content != empty %}
      <div class="{% if block.columns != '1' %}uk-column-1-2@s{% endif %} uk-column-1-{{ block.columns | default: '3' }}@l">{{ block.content | markdownify }}</div>
    {% endif %}    

    {% if block.lists.size != 0 %}
      <div class="uk-grid-large uk-child-width-expand@m uk-margin-medium-top" data-uk-grid>
        {% for ul in block.lists %}
          <div class="uk-flex uk-flex-center">
            <ul class="uk-list uk-list-disc">
              {% for item in ul.list %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    {% endif %}    
  </div>
</section>